.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  height: 100vh;
}
.modal-content {
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  width: 30%;
  overflow: scroll;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.editProfileForm {
  margin: 30px 0;
}

.editProfileForm input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.updateBtn {
  padding: 8px 25px;
  background-color: #18f26c;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.profileImgDisplay {
  margin: 20px 0;
  object-fit: cover;
  /* border-radius: 50%; */
  width: 300px;
  height: 300px;
}

.profileImgContainer {
  position: relative;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 578px) {
  .modal-content {
    width: 82%;
  }
}
